body {
    display: block;
    margin: 0px;
    padding-left: 8px;
}

header {
    width:auto;
    height: 125px;
    background-color: #4EA0FF;
    background-image: url(./img/pattern.png);
    background-repeat: repeat-x;
    background-size: 300px 150px;
}

.logo-booleaners {
    height: 60px;
    width: 200px;
    position: absolute;
    top: 60px;
    left: 10px;
}

h1 {
    width: 800px;
    margin-bottom: 2px;
}

span {
    font-size: larger;
    color: #4EA0FF;
}

.day, .author{
    margin-top: 2px;
    margin-bottom: 2px;
    color: darkgrey;
    font-size: 1em;
}

.comment-1, .comment-2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.article-1 {
    margin-bottom: 35px;
}
